:root {
    --cor-bg: #9da4c1;
    --cor-destaque: #091649;
    --cor-sessao: #515a7b;
    --cor-fonte: #fff;

    --fonte-padrao: 'Roboto', sans-serif;
    --fonte-destaque: 'Kode Mono', monospace;
}

body {
    font-family: var(--fonte-padrao);
    color: var(--cor-fonte);
    background-color: var(--cor-bg);
}

.text-special {
    font-family: var(--fonte-destaque);
}

.color-special {
    color: var(--cor-destaque);
}

header {
    background-color: var(--cor-destaque);
}

#cabecalho button {
    background-color: #ccc;
}

.nav .nav-link.active{
    color: var(--cor-destaque);
    background-color: #fff;
}

.navbar-brand a,
.nav-link,
.nav-link:hover {
    color: var(--cor-fonte);
}

.navbar-brand a,
#sobre a {
    text-decoration: none;
}

#sobre-lista li {
    list-style: none;
}
